.App {
  font-weight: 1 rem;
}
.container {
  border: thick antiquewhite;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}
.backgroundImage {
  border-radius: 10em;
  padding: 0;
}
.a {
  font-size: smaller;
  color: antiquewhite;
}
.footer {
  font-style: italic;
  display: block left;
  margin: 10px 0;
}
