.App {
  margin: 0 auto;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  max-width: 600;
  color: antiquewhite;
  line-height: 10vh;
}
.container {
  border: thick double antiquewhite;
  text-align: center;
}
.input {
  list-style-type: none;
}
.backgroundImage {
  border-radius: 5em;
}
.a {
  font-size: smaller;
  color: bisque;
}
