.Weather {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px;
  color: antiquewhite;
}
.Weather .h1 {
  padding: 10px;
  margin: 0;
  color: antiquewhite;
  position: left;
}

.Weather .input {
  display: block;
  position: center;
  list-style: none;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 auto;
}
.Weather .ul {
  list-style: none;
  display: block;
  text-align: left;
}
.Weather .li {
  list-style: none;
}
.Weather .temperature {
  font-weight: 3em;
  font-size: 800;
}
.Weather .img {
  glyph-orientation-horizontal: inherit;
  margin-right: 10px;
}
.Weather .unit {
  font-size: 500;
}
